@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AvantGarde';
    font-weight: bold;
    src: url('/src/assets/fonts/AVGARDD_2.TTF') format('truetype');
  }
  
  @font-face {
    font-family: 'AvantGarde';
    font-weight: normal;
    src: url('/src/assets/fonts/AVGARDO_2.TTF') format('truetype');
  }
  
  @font-face {
    font-family: 'AvantGarde';
    font-style: italic;
    src: url('/src/assets/fonts/AVGARDN_2.TTF') format('truetype');
  }
  *{
    scroll-behavior: smooth;
  }
.greenBtn {
  font-size: 18px;
  background-color: #6bb52b;
  color: #fff;
  padding: 12px;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}
.greenBtn:hover{
  color: #6bb52b;
  background-color: #fff;
  border-color: #6bb52b;
}

.router-link-active {
  color: #6bb52b !important;
}


.header-white {
  background-color: white;
}

.header-gray {
  background-color: #fafafa;
}

/* PAGINATION  */
.pagination button {
  margin: 0 5px;
  background-color: #6bb52b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.pagination button:disabled {
  background-color: #a5d6a7;
  cursor: not-allowed;
}
.pagination span {
  margin: 0 3px;
  cursor: pointer;
  border: 1px solid #6bb52b;
  border-radius: 3px;
}
.font-bold {
  font-weight: bold;
}
.pagination .active-page {
  background-color: #6bb52b;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.inactive-page {
  color: #a5d6a7;
  padding: 5px 10px;
  border-radius: 5px;
}
.pagination {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 5px 10px;
  width: 100%;
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
}